<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Compress</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- Hedaer -->
  <header id="header">
    <!--
      <h1>Our Product Name</h1>
    -->
    <h1>CompressAI</h1>
  </header>
  
  <!-- Main -->
  <div id="content">

    <h1>AI Compressor</h1>
    <h3>A cool online <b>AI compression</b> tool!</h3>

    <!-- Setting-->
      <div class="first-option">
        <label class="radio-button">
          <input type="radio" name="compression-type" value="lossless" checked>Lossless
        </label>
        <label class="radio-button">
          <input type="radio" name="compression-type" value="lossy">Lossy
        </label>
      </div>
  
    <div class="option-container">

      <div class="second-option">
        <label>
          <input type="radio" name="compression" value="compress" checked>Compress
        </label>
        <label>
          <input type="radio" name="compression" value="decompress" >Decompress
        </label>
      </div>

      <div class="third-option">
        <p>
          <span style="float: left;">Less quality</span>
          <span style="float: right;">Best quality</span>
        </p><br>
        <label>
          <input type="range" min="1" max="7" step="1" value="1" class="slider" name="quality">
        </label>
      </div>

    </div>
    

    <!-- Files upload -->
    <div class="upload-region">

      <div class="waiting">
        <label for="file-upload" class="upload-icon">+</label>
        <input type="file" id="file-upload">
        <p>Upload or drop files</p>
      </div>

      <div class="uploading">
        <p>Uploading to server</p>
      </div>
  
      <div class="processing">
        <p>Server processing image</p>
      </div>
  
      <div class="success">
        <p>Processing successful</p>
        <a id="download-link" style="display: none;">Download</a>
      </div>

      <div class="download" style="display: none;">
        <p>Downloading processed image</p>
        <a href="#" id="try-again">Try another file</a>
      </div>
  
      <div class="failure">
        <p>Processing failed</p>
        <a href="#" id="try-again">Try another file</a>
      </div>
      

    </div>
    <!--  <a href="#" class="button">A button</a>-->
  </div>
  
  <!-- Footer -->
  <footer>
    &copy; HKUST 2024 FYP ZGL1. All rights reserved.
  </footer>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>